* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: clip;
}

/* Hero Page */

.hero-page {
    height: 100vh;
    background-color: #CAF0F8; 
    position: relative;
}

.hero-page img {
    position: absolute;
    max-width: 35%;
    height: auto;
    bottom: 15%;
    right: 30px;
}

.hero-text {
    color: #002839;
    height: 60%;

    /*border-style: solid;
    border-color: red;
    border-width: 4px; */

    display: flex;
    align-items: center;
}


.hero-centering {
    /*border-style: solid;
    border-color: green;
    border-width: 4px;*/
    margin-left: 5%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-text h1 {
    font-weight: 700;
    text-shadow: 0px 2px 3px rgba(161, 161, 161, 0.44);
    font-size: 40px;
}

.hero-text h2{
    font-weight: 500;
    text-shadow: 0px 2px 3px rgba(161, 161, 161, 0.44);
    font-size: 40px;
}

.hero-text h4{
    font-weight: 500;
    font-size: 20px;
}

.hero-text button {
    background-color: #002839;
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.44);
    transition-duration: 0.2s;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #ffb700;
}

.temp {
    height: 30%;
    border-style: solid;
    border-color: red;
    border-width: 4px;
}

.beach {
    background-image: url('./beach.svg');
    aspect-ratio: 960/300;
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .hero-text {
        align-items: normal;
    }

    .hero-centering {
        margin: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .hero-page img {
        max-width: 40%;
    }
  }

/* Hook Page */

.hook-page {
    height: 100vh;
    background-color: #0096C7; 
    position: relative;
}

.orange-fish {
    animation: swim-right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.orange-fish img {
    width: 50px;
}

.fish1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
}

.fish2 {
    position: absolute;
    top: 25px;
    left: 0;
    transform: translateX(-100%);
    animation-name: swim-right2;
    animation-duration: 9s;
    animation-delay: 1s;
}

.fish3 {
    position: absolute;
    top: 45px;
    left: 0;
    transform: translateX(-100%);
    animation-name: swim-right3;
    animation-delay: 1.5s;
    animation-duration: 12s;
}

.fish4 {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateX(90%);
    animation-name: swim-left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
    animation-duration: 9s;
}

.fish4 img {
    width: 50px;
}

.big-orange {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateX(-100%);
    animation-name: swim-right3;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-duration: 15s;
}

.big-orange img {
    width: 70px;
}

#orange-fish-right {
    cursor: pointer;
}

#fish1-text {
    opacity: 0;
    transform: translateY(-130%);
}

/*https://stackoverflow.com/questions/70237468/how-do-i-code-an-object-moving-leaving-from-left-to-right-side-of-the-screen*/
@keyframes swim-right {
  0% {
    transform: translateX(-100%);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(100vw);
    animation-timing-function: ease-in-out;
  }
}

@keyframes swim-left {
    0% {
      transform: translateX(90%);
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translateX(-100vw);
    }
  }

@keyframes swim-right2 {
    0% {
      transform: translateX(-100%);
      animation-timing-function: ease-out;
    }
    40% {
      transform: translateX(40vw);
    }
    100% {
      transform: translateX(100vw);
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes swim-right3 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100vw);
      animation-timing-function: cubic-bezier(.82,.12,.83,.67);
    }
  }

.hook-text {
    height: 80%;
    color: #FFFFFF;
}

.main-hook {
    height: 80%;
    display: flex;
    align-items: center;
}

.main-hook h1 {
    padding: 20px;
    font-weight: 500; 
    text-align: center;
    font-size: 40px;
}

.hook-wave {
    background-image: url('./hook-wave.svg');
    aspect-ratio: 960/200;
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 335px) {
    .main-hook h1 {
        font-size: 30px;
    }
}

/* 3 point page Seaweed */

.seaweed-page {
    height: 100vh;
    background-color: #025B9B; 
    position: relative;
}

.seaweed-text {
    height: 80%;
    color: #FFFFFF;
}

.seaweed-wave {
    background-image: url('./seaweed-wave.svg');
    aspect-ratio: 960/200;
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* SB Info */

.sb-page {
    height: 100vh;
    background-color: #023E8A; 
    position: relative;
}

/* Fade in effects */

.hidden {
    opacity: 0;
    transition: all 1.5s;
    animation-timing-function: ease-in;
}

.show {
    opacity: 1;
}

@keyframes shakeY {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(0, -10px, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(0, 10px, 0);
    }
  }
  
  .seawweedo {
    animation-name: shakeY;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-duration: 15s;
}