.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.question-card {
  margin: 0 auto;

  width: 70%; 
  min-height: 70vh;

  background-color: black;
  padding: 16px;
  border-radius: 22px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.question-card h3 {
  font-weight: 400;
}

.question-card ul {
  list-style: none;
  font-weight: 800;
  padding: 16px;
  width: 30%;
}

.question-card li {
  margin-top: 16px;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 20px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.question-card li:hover {
  background-color: #FFB800;
}

.timer {
  color: white;
  font-weight: 600;
  text-align:right;
  padding-right: 4%;
}

.questionNum {
  text-align:left;
  padding-left: 16px;
}

.final-results {
  margin: 0 auto;

  width: 70%;
  height: 70vh;

  background-color: black;
  padding: 16px;
  border-radius: 22px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.final-results h2 {
  font-weight: 600;
}

.final-results ul {
  list-style: none;
  font-weight: 800;
  padding: 16px;
  text-align: left;
}

.final-results li {
  margin-top: 8px;
  padding-left: 30%;
}

.final-results span {
  float: right;
  text-align: left;
  padding-right: 40%;
}

.final-results button {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: large;
  margin-bottom: 16px;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.final-results button:hover {
  background-color: #FFB800;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

.review-card {
  display: flex;
}

.review-question-card {

  width: 40%;

  margin-right: 16px;

  background-color: black;
  padding: 16px;
  border-radius: 22px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.review-question-card h3 {
  font-weight: 400;
}

.review-question-card ul {
  list-style: none;
  font-weight: 800;
  padding: 16px;
  width: 30%;
}

.review-question-card li {
  margin-top: 16px;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 20px;
}

.review-questionNum {
  text-align:left;
  padding-left: 16px;
}

.checkandnext {
  position: absolute;
  bottom: 20px;
  text-align: left;
}

.checkandnext input{
  margin-right: 15px;
  width:20px;
  height:20px;
  background:gray;
  border-radius:5px;
  border:2px solid #555;
  vertical-align: middle;
  accent-color: #FFB800;
}

.finish-review {
  margin: 0 auto;

  width: 70%;
  height: 70vh;

  background-color: black;
  padding: 16px;
  border-radius: 22px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.finish-review h2 {
  font-weight: 600;
}


.finish-review button {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: large;
  margin-bottom: 16px;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.finish-review button:hover {
  background-color: #FFB800;
}

.satoract {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.satoract button {
  font-weight: 800;
  border-radius: 15px;
  height:50px;
  width:100px;
  margin: 10px;
  font-size: 30px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.satoract button:hover {
  background-color: #FFB800;
}

.satoract p {
  cursor: pointer;
}

.test-score {
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.test-score input {
  background-color: #BFBFBF;
  color: black;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  border-radius: 10px;
  width: 50px;
  height: 25px;
  padding: 2px;
}

.test-score table {
  margin: 0 auto;
  padding: 40px;
  width: 60%;
  border-collapse: collapse;
  table-layout: fixed;
    width: 500px;
}

.test-score th {
  padding: 10px;
}


.test-score h2 {
  color: #FFB800;
  cursor: pointer;
}

.begin-practice {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.begin-practice button{
  border-radius: 10px;
  font-weight: 600;
  height:25px;
  width:70px;
  margin: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.begin-practice button:hover {
  background-color: #FFB800;
}