.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.question-card {
  margin: 0 auto;

  width: 70%; 
  height: auto;

  background-color: black;
  padding: 16px;
  border-radius: 22px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.question-card h3 {
  font-weight: 400;
}

.question-card ul {
  list-style: none;
  font-weight: 800;
  padding: 16px;
  width: 30%;
}

.question-card li {
  margin-top: 16px;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 20px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.question-card li:hover {
  background-color: #FFB800;
}

.timer {
  color: white;
  font-weight: 600;
  text-align:right;
  padding-right: 4%;
}

.questionNum {
  text-align:left;
  padding-left: 16px;
}

.final-results {
  margin: 0 auto;

  width: 70%;
  height: 70vh;

  background-color: black;
  padding: 16px;
  border-radius: 22px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}