* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.start-page {
    height: 100vh;
    background:radial-gradient(ellipse at center, #ADDDFF 0%, #2AD3FA 100%);
}

.start-text {
    height: 70%;
}

.choose {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    gap: 40px;
    z-index: 4;
}

.choose img {
    width: 30vw;
    cursor: pointer;
}

.choose img:hover {
    
}

.start-beach {
    background-image: url('../images/start-beach.png');
    width: 100%;
    min-width: 1100px;
    height: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 101% 102%;
}

.treeContainer {
    position: fixed;
    bottom: 80px;
    height: 80%;    

    width: 30vw;
    min-width: 350px;
    min-height: 366px;
}

.coco-tree {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}

.ping-tree {
    position: absolute;
    height: 22%;
    left: 40%;
    z-index: 1;
    transform: rotate(10deg);
}

.text-container{
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 0%);
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.typed-out{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(43, end) forwards;
    animation-delay: 1s;
    font-size: 2vw;
    width: 0;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

@keyframes typing {
    from { 
            width: 0;
            padding: 10px
        }
    to { width: 100%;
        padding: 10px }
}