.thx-cont {
    position: relative;
    width: 100vw;
    height: 100dvh;
    background-color: wheat;
}

.mis-text input {
    width: 50%;
    height: 10%;
    padding: 0 10px;
    font-weight: 600;
    font-size: large;
    border-radius: 10px;
    border: none;
}
.mis-text input::placeholder {
    color: #747474; 
    font-weight: 800;
    font-size: large;
}